<div class='modal' id='server_delete' role='dialog'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalLabel">Delete server?</h4>
      </div>
      <div class="container modal-body">
        <p>Delete server?</p>
        <div class="row col-md-6">
          <%= link_to 'Delete', '/servers/serverid', method: :delete, class: "btn btn-danger pull-right" %>
          <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>