<% provide(:title, "Layer 2 Sweeper Service") %>
<% provide(:description,'Devices') %>
<table class="table table-striped">
  <thead><tr><th>MAC</th><th>IP</th></tr></thead>
  <%= render @devices %>
</table>
<%= will_paginate @devices %>
# Is this even used anymore?